#contentWrapperContainer {
  width: 80%;
  margin: auto;
}
#activeTableWrapper,
#hofTableWrapper,
#cartonTableWrapper {
  margin-top: 100px;
}
#cartonTableWrapper {
  margin-bottom: 100px;
}
.carousel-control-prev {
  margin-left: -150px;
}
.carousel-control-next {
  margin-right: -150px;
}
.carousel-control-next-icon:after {
  content: ">";
  font-size: 45px;
  color: #000000;
}
.carousel-control-prev-icon:after {
  content: "<";
  font-size: 45px;
  color: #000000;
}
.table-title {
  text-align: center;
  margin-bottom: 30px;
}
.inner-table {
  width: 100%;
}
.table .td-main-cell {
  padding: 0;
  border-top: 0;
}
.td-main-cell {
  width: 19%;
  display: inline-block;
}
.checkbox-cell {
  width: 12%;
  text-align: center;
}

#loaderOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.98;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#loaderSpin {
  border: 12px solid #fab92d;
  border-top: 12px solid #353431;
  border-radius: 50%;
  z-index: 11;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
  margin: auto;
  margin-top: 20%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
